<!DOCTYPE html>
<html>
<head>
	<title>upload done</title>
	<link rel="stylesheet" type="text/css" href="style.css">
	<link rel="stylesheet" type="text/css" href="confirm.css">
	<link rel="stylesheet" href="http://fonts.googleapis.com/earlyaccess/nanumgothic.css">
</head>
<body>

	<div class="nav-bar">
		<a href="/"><imgs rc="BooksellfLogo.png" class="theLogo"></a>
		<div class="for-spacing"></div>
		<div class="topright">
			<a href="/login">login</a> |
			<a href="/mypage">my page</a> |
			<a href="/upload">upload</a> |
			<a href="/reserve">reserve</a>
		</div>
	</div>
	<div class="top-menu">
		<div class="search-box">
		</div>
	</div>

	<div class="outer">
		<% if (t == 'u') { %>
		<p id="here">등록이 완료되었습니다.</p>
		<form action="/details">
			<input type="hidden" name="bookid" value="<%= bookid %>"/>
			<input type="submit" class="confirm_button" value="등록한 책 보러가기"/>
		</form>
		<% } else if (t == 'uf') { %>
		<p id="here">등록을 할 수 없습니다.</p>
		<% } else if (t == 'd') { %>
		<p id="here">삭제되었습니다.</p>
		<% } else if (t == 'df') { %>
		<p id="here">삭제 할 수 없습니다.</p>
		<% } else if (t == 'e') { %>
		<p id="here">수정되었습니다.</p>
		<form action="/details">
			<input type="hidden" name="bookid" value="<%= bookid %>"/>
			<input type="submit" class="confirm_button" value="수정한 책 보러가기"/>
		</form>
		<% } else if (t == 'ef') { %>
		<p id="here">수정 할 수 없습니다.</p>
		<% } %>
		<form action="/">
			<input type="submit" class="confirm_button" value="메인 페이지로"/>
		</form>
	</div>

</body>