<!DOCTYPE html>
<html>
<head>
	<title>upload done</title>
	<link rel="stylesheet" type="text/css" href="style.css">
	<link rel="stylesheet" type="text/css" href="confirm.css">
	<link rel="stylesheet" href="http://fonts.googleapis.com/earlyaccess/nanumgothic.css">
</head>
<body>

	<div class="nav-bar">
		<a href="/"><imgs rc="BooksellfLogo.png" class="theLogo"></a>
		<div class="for-spacing"></div>
		<div class="topright">
			<a href="/login">login</a> |
			<a href="/mypage">my page</a> |
			<a href="/upload">upload</a> |
			<a href="/reserve">reserve</a>
		</div>
	</div>
	<div class="top-menu">
		<div class="search-box">
		</div>
	</div>

	<div class="outer">
		<p id="here">등록이 완료되었습니다.</p>
		<input type="submit" class="confirm_button" value="메인 페이지로"></input>
		<input type="submit" class="confirm_button" value="등록한 책 보러가기"></input>		
	</div>

</body>