<!DOCTYPE html>
<html>
<head>
	<title>Confirmation</title>
	<link rel="stylesheet" type="text/css" href="style.css">
	<link rel="stylesheet" type="text/css" href="confirm.css">
	<link rel="stylesheet" type="text/css" href="reserve.css">
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	<link rel="stylesheet" href="http://fonts.googleapis.com/earlyaccess/nanumgothic.css">
	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet"/>
</head>
<body>
	<div class="nav-bar">
		<a href="/"><img src="BooksellfLogo.png" class="theLogo"></a>
		<div class="for-spacing"></div>
		<div class="topright">
			<div id="iconBox"><a href="/login"><i id="Icons" class="fa fa-sign-out fa-2x"></i></a>	
				<div id="iconText">Log Out</div>
			</div>
			<div id="iconBox"><a href="/mypage"><i id="Icons" class="fa fa-user fa-2x"></i></a><div id="iconText">My Page</div></div>
			<div id="iconBox"><a href="/registerbook"><i id="Icons" class="fa fa-book fa-2x"></i></a><div id="iconText">Register</div></div>
			<div id="iconBox"><a href="/reservebook"><i id="Icons" class="fa fa-bookmark fa-2x"></i><!-- <span class="button__badge">N</span> --></a><div id="iconText">Reserve</div></div>
			<div id="iconBox"><i id="Icons" class="fa fa-exclamation fa-2x"></i><div id="iconText">Notice</div></div>
		</div>
	</div>
	<div class="top-menu">
		<div class="search-box">
		</div>
	</div>

	<div class="outer">
		<% if (t == 'r') { %>
		<p id="here">등록이 완료되었습니다.</p>
		<form action="/details">
			<input type="hidden" name="bookid" value="<%= bookid %>"/>
			<input type="submit" class="confirm_button" value="등록한 책 보러가기"/>
		</form>
		<% } else if (t == 'rf') { %>
		<p id="here">등록을 할 수 없습니다.</p>
		<% } else if (t == 'd') { %>
		<p id="here">삭제되었습니다.</p>
		<% } else if (t == 'df') { %>
		<p id="here">삭제 할 수 없습니다.</p>
		<% } else if (t == 'e') { %>
		<p id="here">수정되었습니다.</p>
		<form action="/details">
			<input type="hidden" name="bookid" value="<%= bookid %>"/>
			<input type="submit" class="confirm_button" value="수정한 책 보러가기"/>
		</form>
		<% } else if (t == 'ef') { %>
		<p id="here">수정 할 수 없습니다.</p>
		<% } else if (t == 'f') { %>
		<p id="here">없는 책입니다.</p>
		<% } else if (t == 'rsd') { %>
		<p id="here">예약이 완료 되었습니다.</p>
		<% } else if (t == 'rsc') { %>
		<p id="here">예약이 취소 되었습니다.</p>
		<% } else if (t == 'rscf') { %>
		<p id="here">예약 취소 할 수 없습니다.</p>
		<% } %>
		<form action="/">
			<input type="submit" class="confirm_button" value="메인 페이지로"/>
		</form>
	</div>

</body>