<!DOCTYPE html>
<html>
<head>
	<title>book detail</title>
	<link rel="stylesheet" type="text/css" href="style.css">
	<link rel="stylesheet" type="text/css" href="detail.css">
	<link rel="stylesheet" href="http://fonts.googleapis.com/earlyaccess/nanumgothic.css">
</head>
<body>
	<div class="nav-bar">
		<a href="/"><img src="BooksellfLogo.png" class="theLogo"></a>
		<div class="for-spacing"></div>
		<div class="topright">
			<a href="/login">login</a> |
			<a href="/mypage">my page</a> |
			<a href="/upload">upload</a> |
			<a href="/reserve">reserve</a>
		</div>
	</div>
	<div class="top-menu">
	</div>

	<div class="bigbox">
		<div class="img-half">
			<img src="<%= book_r.thumbnail %>" class="thumbnail">
			<button class="reg_button">찜하기</button>
		</div>
		<div class="other-half">
			<div class="divTable">
				<div class="headRow">책제목</div>
				<div class="divRow">
					<div class="divCell col1"> 가격 </div>
					<div class="divCell col2"> 1234</div>
				</div>
				<div class="divRow">
					<div class="divCell col1"> 과목명 </div>
					<div class="divCell col2"> 아아아아</div>
				</div>
				<div class="divRow">
					<div class="divCell col1"> 품목 정보 </div>
					<div class="divCell col2"> 1234</div>
				</div>
				<div class="divRow">
					<div class="divCell col1"> 상태 </div>
					<div class="divCell col2"> 1234</div>
				</div>
				<div class="divRow">
					<div class="divCell col1"> 판매자 </div>
					<div class="divCell col2"> 1234</div>
				</div>
				<div class="divRow">
					<div class="divCell col1"> 연락처 </div>
					<div class="divCell col2"> 1234</div>
				</div>
			</div>
		</div>
	</div>

</body>
</html>