<!DOCTYPE html>
<html>
<head>
	<title>Welcome to Booksellf!</title>
	<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
	<div class="nav-bar">
		<a href="/"><img src="BooksellfLogo.png" class="theLogo"></a>
		<div class="for-spacing"></div>
		<div class="topright">
			<a href="/login">login</a> |
			<a href="/mypage">my page</a> |
			<a href="/upload">upload</a> |
			<a href="/reserve">reserve</a>
		</div>
	</div>
	<div class="top-menu">
		<div class="search-box">
			<!-- <input type="text" name="text-search" placeholder="Search your keyword..."> -->
			<!-- <button> Search! </button> -->
		</div>
	</div>
	<div class="sidebar">
		<ul class="lst">
			<li>전산학과</li>
			<li>수리과학과</li>
			<li>산업 디자인과</li>
			<li>생명 화학 공학과</li>
			<li>물리학과</li>
			<li>화학과</li>
			<li>생명 공학과</li>
			<li>기계 공학과</li>
			<li>전자 공학과</li>
		</ul>
	</div>
</body>
</html>