<!DOCTYPE html>
<html>
<head>
	<title>Welcome to Booksellf!</title>
	<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
	<a href="/"><img src="BooksellfLogo.png" class="theLogo"></a>
	<div class="top-menu">
		<div class="search-box">
			<input type="text" name="text-search" placeholder="Search your keyword...">
			<button> Search! </button>
		</div>
	</div>
	<a href="/login"> <h4>login page!</h4></a>
	<div>
		<ul>
			<li>School of Computing</li>
			<li>Mathematics</li>
			<li>Industrial Design</li>
			<li>Bio-chemical Engineering</li>
			<li>and so on...</li>
		</ul>
	</div>
</body>
</html>