<!DOCTYPE html>
<html>
<head>
	<title>Log in Page</title>
	<h3>Login page</h3>
</head>
<body>
	<div class="login">
		<p>ID</p>
		<input type="text" name="username">
		<p>Password</p>
		<input type="text" name="pw">
		<br>
		<button>Login</button>
	</div>
	<div class="signin">
		<p>type Username</p>
		<input type="text" name="s-username">
		<p>type password</p>
		<input type="text" name="s-pw">
		<p>check password</p>
		<input type="text" name="s-pwcheck">
		<p>type your kaist email</p>
		<input type="text" name="email"> @kaist.ac.kr
		<br>
		<button>Create ID</button>
	</div>
</body>
</html>