<!DOCTYPE html>
<html>
<head>
	<title>Log in Page</title>
	<link rel="stylesheet" type="text/css" href="login.css">
	<link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
</head>
<body>
	<div align="center">
			<a href="/"><img src="BooksellfLogoWhite.png" class="WhiteLogo"></a>
	</div>
	<div class="outerbox">	
		<div class="middlebox">
			<p1>Log In</p1>
			<div class="innerbox">
				<form action="/login" method="post">
					<p>KAIST email</p>
					<input type="text" class="emailinput" name="email" required="required"> @kaist.ac.kr
					<p>Password</p>
					<input type="password" name="pw" required="required">
					<section class="messages"><%= login_message %></section>
					<input type="submit" class="bluebutton" value="Login">
				</form>
			</div>
		</div>
		<div class="middlebox">
			<p1>Sign Up</p1>
			<div class="innerbox">
				<form id="registerform" class="registerform" action="/signup" method="post">
					<p>Name</p>
					<input type="text" name="reg_name" required="required">
					<p>Password</p>
					<input type="password" name="reg_pw" required="required">
					<p>Check password</p>
					<input type="password" name="reg_pwcheck" required="required">
					<div class="passwordcheck"></div>
					<p>KAIST email</p>
					<input type="text" class="emailinput" name="reg_email" required="required"> @kaist.ac.kr
					<input type="button" id="verify_email_button" class="verify_email_button" value="Send verification code">
					<div class="verification"></div>
					<p>Verification number</p>
					<input type="text" name="reg_check">
					<section class="messages"><%= signup_message %></section>
					<input type="button" id="submit_button" class="bluebutton" value="Create ID">
				</form>

				<script>
					document.querySelector('#submit_button').addEventListener('click', function() {
						var f = document.getElementById('registerform');
						var c = document.getElementsByName('reg_check')[0].value;
						var p1 = document.getElementsByName('reg_pw')[0].value;
						var p2 = document.getElementsByName('reg_pwcheck')[0].value;
						if(!f.checkValidity()) {
					    window.alert("Please fill in all fields");
					    return;
						}
						if(!c) {
					    window.alert("Please fill in the verification code");
					    return;
						}
						if(p1 != p2) {
							document.querySelector('.passwordcheck').innerHTML = "Passwords do not match!";
							return;
						}
						else {
							f.submit();
					  }
					})
					
					document.querySelector('.verify_email_button').addEventListener('click', function() {
						var f = document.getElementById('registerform');
						var email = document.getElementsByName('reg_email')[0].value;

						if(!email) {
					    window.alert("Please write a KAIST email");
					    return;
					  }
						sendAjax("http://localhost:8080/verify_email", email);
					})

					function sendAjax (url, data) {
						var data = {'email' : data};
						data = JSON.stringify(data);

						var xhr = new XMLHttpRequest();
						xhr.open('POST', url);
						xhr.setRequestHeader('Content-Type', "application/JSON");
						xhr.send(data);

						xhr.addEventListener('load', function() {
							var result = JSON.parse(xhr.responseText);
							if (result.status === "bad")
								document.querySelector('.verification').innerHTML = result.message;
							else
								document.querySelector('.verification').innerHTML = "Verification code sent to " + result.email;
						})
					}

				</script>
			</div>
		</div>
		</div>
	</div>
</body>
</html>