<!DOCTYPE html>
<html>
<head>
	<title>upload</title>
</head>
<body>
	<div class="nav-bar">
		<a href="/"><img src="BooksellfLogo.png" class="theLogo"></a>
		<div class="for-spacing"></div>
		<div class="topright">
			<a href="/login">login</a> |
			<a href="/mypage">my page</a> |
			<a href="/upload">upload</a> |
			<a href="/reserve">reserve</a>
		</div>
	</div>
	<div class="top-menu">
		<div class="search-box">
			<input type="text" name="search" placeholder="Search..." class="search-input">
			<button>Search!</button>
		</div>
	</div>
</body>
</html>