<!DOCTYPE html>
<html>
<head>
	<title>upload</title>
	<link rel="stylesheet" type="text/css" href="style.css">
	<link rel="stylesheet" type="text/css" href="upload.css">
</head>
<body>
	<div class="nav-bar">
		<a href="/"><img src="BooksellfLogo.png" class="theLogo"></a>
		<div class="for-spacing"></div>
		<div class="topright">
			<a href="/login">login</a> |
			<a href="/mypage">my page</a> |
			<a href="/upload">upload</a> |
			<a href="/reserve">reserve</a>
		</div>
	</div>
	<div class="top-menu">
		<div class="search-box">
			<input type="text" name="search" placeholder="Search..." class="search-input">
			<button>Search!</button>
		</div>
	</div>
	<div class="bigbox">
		<div class="divTable">
			<div class="headRow">Title</div>
			<div class="divRow">
				<div class="divCell col1">ISBN</div>
				<div class="divCell col2">2</div>
				<div class="divCell col3">3</div>
			</div>
			<div class="divRow">
				<div class="divCell col1">a</div>
				<div class="divCell col2">b</div>
				<div class="divCell col3">c</div>
			</div>
			<div class="divRow">
				<div class="divCell col1">a</div>
				<div class="divCell col2">b</div>
				<div class="divCell col3">c</div>
			</div>
			<div class="divRow">
				<div class="divCell col1">a</div>
				<div class="divCell col2">b</div>
				<div class="divCell col3">c</div>
			</div>
			<div class="divRow">
				<div class="divCell col1">a</div>
				<div class="divCell col2">b</div>
				<div class="divCell col3">c</div>
			</div>
			<div class="divRow">
				<div class="divCell col1">a</div>
				<div class="divCell col2">b</div>
				<div class="divCell col3">c</div>
			</div>
			<div class="divRow">
				<div class="divCell col1">a</div>
				<div class="divCell col2">b</div>
				<div class="divCell col3">c</div>
			</div>
		</div>
	</div>
</body>
</html>