html, body {
	background-color: #fafafa;
	margin: 0px 0px 0px 0px;
}

/* the classes below all make up the navigation bar at the top of the website */
.nav-bar {
	display: flex;
}

.theLogo {
	width: 170px;
	margin: 10px 60px 10px 60px;
}

.for-spacing {
	width: 50%;
}

.topright {
	text-align: right;
	width: 400px;
	margin: 35px 0px 5px 0px;
}
/* --------------------^^-------------------- */


.top-menu {
	width: 100%;
	background-color: #4577e5;
	height: 41px;
}

.search-box {
	text-align: center;
	padding: 8px;
	font-family: 'nanum gothic';
}

.search-input {
	width: 50%;
	height: 24px;
}

.mainSel {
	height: 24px;
}

.search-but {
	height: 24px;
	padding: 0px 6px 0px 6px;
	background-color: #dedede;
	color: #3b63a5;
	font-weight: bold;
	border: none;
	width: 75px;
	border-radius: 1.5px;
}

.bookNotice {
	background-color: #dedede;
	width: 95%;
	margin: 0px auto 8px auto;
	padding: 10px;
	border-radius: 2px;
	font-weight: normal;
	font-size: 12px;
	text-align: left;
	color: #444444;
}

#notificationsBody {

}

.sidebar {
	width: 200px;
	margin: 0px 10px 0px 50px;
}

.book-disp {
	margin: 30px 30px 30px 280px;
	display: table;
	width: 1000px;
}

.reserve-disp {
	margin: 30px 100px 30px 100px;
	display: table;
	width: 90%;
}

.items {
	border: 1px solid #CCCCCC;
	border-radius: 3px;
	width: 300px;
	height: 200px;
	display: inline-block;
	vertical-align: middle;
	/*display: table-cell;*/
	margin: 10px;
	font-family: 'Nanum Gothic', serif;
	padding: 19px;
}

.book_info {
	/*background-color: red;*/
	width: 123px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.book_image {
	width: 110px;
	height: 155px;
}

#col {
	column-count: 2;
}

p {
	margin-top: 0px;
	margin-bottom: 6px;
	font-size: 13px;
}

#b_title {
	font-size: 17px;
}

#b_price {
	color: #5978ea;
	font-weight: bolder;
}